spring:
  application:
    name: house-consumer
server:
  port: 8082
eureka:
  client:
    serviceUrl:
      defaultZone: http://eamon:eamon@127.0.0.1:8761/eureka/, http://eamon:eamon@127.0.0.1:8762/eureka/
  instance:
    #改变服务注册的 instance ID形式为 服务名：主机名：端口
    instance-id: ${spring.application.name}:${spring.cloud.client.ipAddress}:${spring.application.instalce_id:${server.port}}
    # 点击实力id时进行ip跳转
    preferIpAddress: true
    # 点击注册中心的服务地址跳转到对应服务的api文档
    status-page-url: http://${spring.cloud.client.ipAddress}:${server.port}/swagger-ui.html
    # 默认30秒 开发环境改为 5秒  表示客户端发送心跳给注册中心server的频率
    lease-renewal-interval-in-seconds: 5
    # 默认90秒 表示eureka server至上一次收到 client的心跳之后，等待下一次心跳的超时时间，如果在这个时间内没有收到下一次心跳，就移除该Instance
    lease-expiration-duration-in-seconds: 5