spring:
  application:
    name: eamon-eureka
  profiles:
    active: master
eureka:
  instance:
    # 设置当前实例的主机名称
    hostname: localhost
    # 点击注册中心的服务地址跳转到对应服务的api文档
    status-page-url: http://${spring.cloud.client.ipAddress}:${server.port}/swagger-ui.html
    instance-id: ${spring.application.name}:${spring.cloud.client.ipAddress}:${spring.application.instalce_id:${server.port}}
  client:
    # 由于该应用为注册中心，所以设置为false，代表不向注册中心注册自己
    register-with-eureka: false
    # 由于注册中心的职责就是维护服务实例，他并不需要去检索服务，所以也设置为false
    fetch-registry: false
  server:
    # 关闭自我保护
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 6000
security:
  basic:
    enabled: true
  user:
    name: eamon
    password: eamon
